{% extends 'base.twig' %}
{% block content %}
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ siteUrl('/admin/reservations') }}">Varaukset</a></li>
            <li><a href="{{ siteUrl('/admin/cars') }}">Autot</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th>Varauksen alku</th>
                    <th>Varauksen loppu</th>
                    <th>Asiakkaan nimi</th>
                    <th>Auto</th>
                    <th>Status</th>
                    </thead>
                    <tbody>
                    {% if reservations|length == 0 %}
                        <tr>
                            <td>Varauksia ei ole :(</td>
                        </tr>
                    {% endif %}
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.start_datetime }}</td>
                            <td>{{ reservation.end_datetime }}</td>
                            <td>{{ reservation.customer_firstname }} {{ reservation.customer_lastname }}</td>
                            <td>{{ reservation.registration_number }}</td>
                            <td>{{ reservation.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}