{% extends 'base.twig' %}
{% block content %}
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ siteUrl('/admin/reservations') }}">Varaukset</a></li>
            <li class="active"><a href="{{ siteUrl('/admin/cars') }}">Autot</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="make">Auton merkki</label>
                                <input type="text" class="form-control" id="make" name="make" value="{{ car.make }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="model">Auton malli</label>
                                <input type="text" class="form-control" id="model" name="model" value="{{ car.model }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registrationnumber">Auton rekisterinumero</label>
                        <input type="text" class="form-control" id="registration_number" name="registration_number"
                               value="{{ car.registration_number }}">
                    </div>
                    <div class="form-group">
                        <label for="seats">Istuimia</label>
                        <input type="text" class="form-control" id="seats" name="seats" value="{{ car.seats }}">
                    </div>
                    <div class="form-group">
                        <label for="address">Osoite</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{ car.address }}">
                    </div>
                    <div class="form-group">
                        <label for="price_per_hour">Hinta per tunti (€)</label>
                        <input type="text" class="form-control" id="price_per_hour" name="price_per_hour"
                               value="{{ car.price_per_hour }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Päivitä auto</button>
                    <a class="btn btn-danger" href="{{ urlFor("adminDeleteCar", {"carId": car.id}) }}">Poista auto</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}