{% extends 'base.twig' %}
{% block content %}
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ siteUrl('/admin/reservations') }}">Varaukset</a></li>
            <li class="active"><a href="{{ siteUrl('/admin/cars') }}">Autot</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if flash.success %}
                    <div class="alert alert-success">{{ flash.success }}</div>
                {% endif %}
                <table class="table">
                    <thead>
                    <th>Rekisterinumero</th>
                    <th>Malli</th>
                    <th>Istuimia</th>
                    <th>Osoite</th>
                    <th>Hinta per tunti</th>
                    <th>Muokkaa</th>
                    </thead>
                    <tbody>
                    {% if cars|length == 0 %}
                        <tr>
                            <td>Autoja ei ole :(</td>
                        </tr>
                    {% endif %}
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.registration_number }}</td>
                            <td>{{ car.make }} {{ car.model }}</td>
                            <td>{{ car.seats }}</td>
                            <td>{{ car.address }}</td>
                            <td>{{ car.price_per_hour }}</td>
                            <td><a class="btn btn-primary btn-xs"
                                   href="{{ urlFor('adminEditCar', {"carId": car.id}) }}">Muokkaa autoa</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ siteUrl('admin/cars/add') }}" class="btn btn-primary">Lisää uusi auto</a>
            </div>
        </div>
    </div>
{% endblock %}