<!doctype html>
<html lang="en">
<head>
    <base href="{{ siteUrl("/") }}">
    <meta charset="utf-8">
    <title>Gabber</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ siteUrl('/') }}">Gabber</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ siteUrl('/admin/reservations') }}">Hallintapaneeli</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>