{% extends 'base.twig' %}
{% block content %}
    <p><strong>Vuokrauksen tiedot</strong></p>
    <p>Alkamisaika: {{ reservation.start }}</p>
    <p>Päättymisaika: {{ reservation.end }}</p>
    <p>Hinta: {{ reservation.price }}</p>
    <p><strong>Auton tiedot</strong></p>
    <p>Auton malli: {{ car.make }} {{ car.model }}</p>
    <p>Auton osoite: {{ car.address }}</p>
    <p><strong>Omat tiedot</strong></p>
    <p>Nimi: {{ user.firstName }} {{ user.lastName }}</p>
    <p>Sähköposti: {{ user.email }}</p>
    <form method="post">
        <button type="submit" class="btn btn-primary">Vahvista tiedot</button>
    </form>
{% endblock %}