{% extends 'base.twig' %}
{% block content %}
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstname">Etunimi</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter email"
                           value="{{ defaults.startdate }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname">Sukunimi</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter email" name="lastname"
                           value="{{ defaults.starttime }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Sähköposti</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
                   value="{{ defaults.endtime }}">
        </div>
        <p><em>Loput inputit tähän, en jaksa koodaa...</em></p>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="tos"> Olen lukenut ja hyväksynyt <a href="{{ siteUrl("enterdetails") }}#">käyttöehdot</a>
            </label>
        </div>
        <input class="btn btn-primary" type="submit" value="Siirry vahvistamaan">
    </form>
{% endblock %}