{% extends 'base.twig' %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="startdate">Vuokrauksen alkamispäivä</label>
            <input type="text" class="form-control" id="startdate" name="startdate" placeholder="Enter email"
                   value="{{ defaults.startdate }}">
        </div>
        <div class="form-group">
            <label for="starttime">Vuokrauksen alkamisaika</label>
            <input type="text" class="form-control" id="starttime" placeholder="Enter email" name="starttime"
                   value="{{ defaults.starttime }}">
        </div>
        <div class="form-group">
            <label for="enddate">Vuokrauksen päättymispäivä</label>
            <input type="text" class="form-control" id="enddate" placeholder="Enter email" name="enddate"
                   value="{{ defaults.enddate }}">
        </div>
        <div class="form-group">
            <label for="endtime">Vuokrauksen päättymisaika</label>
            <input type="text" class="form-control" id="endtime" placeholder="Enter email" name="endtime"
                   value="{{ defaults.endtime }}">
        </div>
        <input class="btn btn-primary" type="submit" value="Hae autoja">
    </form>
{% endblock %}