{% extends 'base.twig' %}
{% block content %}
    <form method="post">
        <table class="table">
            {% if cars|length == 0 %}
                <tr>Autoja ei ole vapaana :(</tr>
            {% endif %}
            {% for car in cars %}
                <tr>
                    <td>Malli: {{ car.make }} {{ car.model }}<br>Sijainti: {{ car.address }}
                        <br>Hinta: {{ car.totalPrice }} EUR
                    </td>
                    <td>
                        <button class="btn btn-primary" name="id" type="submit" value="{{ car.id }}">Valitse tämä auto
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}